#hero {
  width: 100%;
  height: 100vh;
  background-color: #dae9fb;
  background-image: url("../../assets/img/hero1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(246,249,251);
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: rgba(191,172,231,0.9);
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(255,255,255,0.7);
}

#navcol-1 {
}

#title {
  font-family: 'Encode Sans Expanded', sans-serif;
  font-weight: bold;
  font-size: 34px;
}

#subtitle {
  font-family: 'Encode Sans Expanded', sans-serif;
  font-size: 32px;
}

.navbar-light .navbar-brand {
  font-family: 'Encode Sans Expanded', sans-serif;
  color: rgba(255,255,255,0.9);
  font-weight: normal;
}

.row.flex-shrink-1 {
  background-color: rgba(67,67,67,0.4);
  border-radius: 50px;
  padding-left: 10px;
}

#hero-bot i {
  font-size: 20px;
}

#hero-bot .h1, h1 {
  font-size: 22px;
}

#services {
  width: 100%;
  margin-bottom: 100px;
  margin-top: 50px;
}

#hero-bot .container {
  margin-bottom: 25px;
}

#img-strat {
  width: 220px;
  height: 220px;
  margin: auto 0;
}

#contstra {
  margin-bottom: 25px;
}

.h1, h1 {
  color: white;
  font-family: 'Encode Sans Expanded', sans-serif;
}

p {
  text-align: justify;
}

#testimonials {
  width: 100%;
}

#myModal {
  background-color: rgba(33,22,57,0.74);
}

.modal-body {
  background-color: #292829;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#moddet .h3, h3 {
  font-size: 24px;
  font-weight: normal;
  color: white;
  text-align: center;
}

#modhero h1 {
  font-size: 34px;
}

#blink {
  font-family: 'Lobster Two', cursive;
  font-weight: bold;
  color: rgb(255,199,57);
}

